*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

title {
    background-color:#4c5861
}

h1{
    color: #4C5B61;
    padding: .5rem;
    position:absolute;
    font-size: 24px;
    font-family: 'Outfit'
}

hi img{
    position:absolute;
    width:auto;
    height: 50px;
}

h2{
    color:#2C423F;
    padding:.5rem;
    position:absolute;
    font-size:24px;
    font-family: 'Outfit'
}

h2 img {
    width:auto;
    height: 100px;
}

p{
    color: #2C423F;
    padding: 0;
    margin: 1rem;
    text-align: left;
    font-size: 16px;
    font-family: 'Dosis'
}

p img {
    width:auto;
    height: 1px;
}

body{
    font-size: 16px;
    font-family: 'Dosis'
}

main {
    max-width: 840px;
    margin: auto;
}

nav {
    color: #829191;
    padding: 10px;
    height:auto;
    width:100%;
}

nav img {
    width:auto;
    height:fit-content;
}

ul {
    text-align: left;
    width: 100%;
    height:auto
}

.sociallinks a {
    text-decoration: none;
    text-align: left;
    color:black;
}

.sociallinks img {
    width: 20px;
    height:auto;
}

.hero {
        text-align: left;
        position: relative;
}

.hero img {
    display: block;
    width:200px;
    height: auto;
    position: relative;
}

article {
   position: absolute;
   clear:both;
}

article img {
    width: 300px;
    height:auto;
    position:absolute
}

footer {
    margin-top: auto;
    text-align: left;
}

head {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 120px 1fr 2fr;
	align-items: center;
	border-bottom: 1px solid #ccc;	
    max-width: 1000px;
}

:root {
    --max-width: 500px;
    --height: auto;
    --color-scheme: light dark;
    --text-align: left;
}