*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: #4C5B61;
    padding: .5rem;
    font-size: 24px;
    font-family: 'Outfit', sans-serif
}

p{
    color: #2C423F;
    padding: 0;
    margin: 1rem;
    font-size: 16px;
    font-family: 'Dosis', sans-serif
}

body{
    font-size: 16px;
    font-family: 'Dosis', sans-serif
}

main {
    max-width: 840px;
    margin: 0 auto
}

nav {
    background-color: #829191;
    padding: 10px;
}

.herodiv {
        position: relative;
        text-align: right;
        top: 610px;
        left: 200px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

article {
   position: absolute;
}

img {
    float: right;
    width: fit-content;
    height: fit-content;
}

footer {
    text-align: right;
}

header {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 120px 1fr 2fr;
	align-items: center;
	border-bottom: 1px solid #ccc;	max-width: 1000px;
}

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / .1);
    padding: 1.5rem;
    background-color: #949B96;
    color: #000;
}

.indent {
    padding-left: 2rem;
}