*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Dosis";
}

main {
    width:100%;
    max-width:840px;
    margin: 0 auto;
    padding: 0 20px;
}
title {
    background-color:#4c5861
}

header {
    display: grid;
    grid-template-columns: 200px 640px;
    align-items: center;
    border-bottom: 2px solid #ccc;
    justify-content: space-between;
    background-color:#829191;
    font-family: "Outfit"
}

header img {
    margin: 0 .25rem 0 8rem;
    width:180px;
    height: auto;
}

h1{
    color: #2C423F;
    font-size: 3rem;
    font-family: 'Outfit';
    text-align: center;
}

h4{
    color: black;
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Outfit';
    padding-top: 1rem;
    padding-bottom: 1rem;
}

section {
    text-align:center;
}
nav {
    color: #829191;
    text-align: right;
    flex-wrap: nowrap;
    display:flex;
    align-items: center;
}

nav figure {
    display: inline-block;
    margin: 0 15px;
    text-align: center;
    width: 150px;
    margin-bottom: 2rem;
}

nav figure img {
    width: 100%;
    max-width: 100%;
    align-items: center;
}

.navigation {
    display: flex;
    list-style: none;
    font-size: 2.5rem;
}

.navigation a {
    display: block;
    color: black;
    padding: 20px;
    text-decoration: none;
}

section {
    margin: 1rem 1rem 1rem 1rem;
    align-content: center;
    margin-bottom: 40px;
    

}
div {
    display: flex;
}

.box {
    border: 2px solid #333;
}

h2{
    color:#2C423F;
    text-align: center;
    font-size:3rem;
    font-family: 'Outfit'
}

h2 img {
    width:auto;
    height: 100px;
    align-self:center;
    display:grid;
    font-family: 'Outfit';
}

h3{
    color:#2C423F;
    text-align: center;
    font-size:3rem;
    font-family: 'Outfit'
}

h6{
    font-size: 1.75rem;
    font-family: 'Outfit';
    display:inline;
    
}

p {
    color: black;
    margin: 1rem;
    text-align: left;
    font-size: 16px;
    font-family: 'Dosis';
}

.grid-para-1 {
    display:grid;
    grid-template-columns: 500px 1px;  
}

.grid-para-2 {
    display: grid;
    grid-template-columns: 3fr .01fr;
}

.grid-para-3 {
    display:flex;
}

img {
    width:150px;
    height: 130px;
}

.home {
    width: 100%;
    height: auto;
}

.rafts {
    justify-content: space-evenly;
}

.why {
    padding: 1.5rem;
    text-align:left;
    
}
body{
    font-size: 16px;
    font-family: 'Dosis'
}

main {
    max-width: 840px;
    margin: auto;
}

.sociallinks a {
    text-decoration: none;
    color:black;
}

.sociallinks img {
    width: 20px;
    height:auto;
}

article {
    display:flex;
    align-items: flex-start;
    margin: 0 auto;
}

article img {
    max-width: 150px;
    height: 100px;
}

footer {
    margin-top: auto;
    background-color:#829191;
    display:flex;
    justify-content: space-between;
}

:root {
    --max-width: 840px;
    --height: auto;
    --color-scheme: light dark;
    --text-align: left;
}

legend{
    color:#2C423F;
    text-align: left;
    font-size:2rem;
    font-family: 'Outfit'
    
}

.form-item {
    color:#2C423F;
    text-align: left;
    font-size:1rem;
    font-family: 'Outfit'
}

label {
    color:#2C423F;
    text-align: left;
    font-size:1rem;
    font-family: 'Outfit'
}

button {
    margin: 1rem;
    background-color: lightskyblue;
    color: #2C423F;
    border-radius: .75rem;
    padding: 1rem;
    font-size: 16px;
    font-family: 'Outfit';
}

.questions {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.7rem;
    background-color: lightblue;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.signup {
    font-size: 2rem;
    justify-content: space-around;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.column {
flex: 50%;
}

.row {
display: flex;
}