*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif;
}

main {
    max-width: 840px;
}
nav {
    background-color: steelblue;
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 10px;
}
h1 {
    color: steelblue;
    padding: .5rem
}

img {
    width: var(--width);
    height: var(--height);
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

main img {
    width: var(--width);
    height: var(--height);
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    padding: 0;
    margin: 1rem;
}

aside {
    width: 25rem;
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0, 0.2); /*1️⃣*/
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: var(--text-align);
    <aside class="box">
}

aside img {
    width: 300px;
    height: auto;
    text-align: center;
    position: relative;
}

aside h2 {
    position: absolute;
    top: 610px;
    left: 200px;

}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: var(--text-align);
}

:root {
    --width: 150px;
    --height: auto;
    --border: 1px solid black;
    --text-align: center;
}

/* CLass Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / .1);
    padding: 1.5rem;
    background-color: #ddd;
    color: #000;
}

.indent {
    padding-left: 2rem;
}